*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "JakartaSans";
  /* background-color: var(--backgroundColor); */
}
@font-face {
  font-family: "JakartaSans";
  src: url(/Assets/Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #3563e9;
  --iconsColor: #596780;
  --iconsSecondaryColor: #c3d4e966;
  --textColor: #1a202c;
  --textSecondaryColor: #90a3bf;
  --backgroundColor: #f6f7f9;
  --darkBlue: #0d3559;
  --borderRadius: 10px;
  --inputBcgColor: #f6f7f9;
}
@media screen and (max-width: 375px) {
  .mainTopic {
    color: var(--textColor);
    width: 100%;
    max-width: 375px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .container {
    color: var(--textColor);
    max-width: 375px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .map--desktop {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  .menu {
    width: 100%;
    max-width: 374.99px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    background-color: var(--primaryColor);
  }
  .buttonBox {
    display: none;
  }
  .menu__image--profileTablet {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 32px 40px 0 0;
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: flex-end;
  }
  .menu__title {
    color: var(--secondaryColor);
    font-size: 2.4rem;
    margin: 20px 0 20px 25px;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .menu__input {
    font-size: 1.4rem;
    width: 263px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid var(--iconsSecondaryColor);
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 15px 0 35px 25px;
    background-color: var(--inputBcgColor);
  }
  .menu__icon,
  .setting__icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid var(--iconsSecondaryColor);
    color: var(--iconsColor);
  }
  .menu__icons--menu {
    grid-row: 1/2;
    grid-column: 1/2;
    border: none;
    margin: 32px 0px 0 25px;
  }
  .menu__icons--setting {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 48px;
    height: 48px;
    margin: 15px 0 35px 15px;
  }
  .menu__input:focus,
  .rentalInfo--input:focus {
    outline: 0;
    border: 1px solid var(--textSecondaryColor);
    box-shadow: 1px var(--textSecondaryColor);
    transition: all 0.5s;
    padding: 0 0 0 10px;
  }
  .menu__input::placeholder,
  .rentalInfo--input::placeholder {
    outline: 0;
    transition: all 0.1s;
    padding: 0 0 0 10px;
  }
  .detailRental {
    width: 100%;
    max-width: 327px;
    background-color: var(--primaryColor);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
    border-radius: 10px;
  }
  .detailRental__image--map {
    width: 100%;
    max-width: 295px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
  }
  .detailRental__title--section {
    color: var(--textColor);
    font-size: 1.6rem;
    margin: 15px auto 10px 16px;
    align-self: flex-start;
  }
  .carDetails {
    width: 100%;
    max-width: 295px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    order: 3;
  }
  .carDetails__image--car {
    max-width: 116px;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 5px 0 0 0px;
    border-radius: 10px;
  }
  .carDetails__title--carName {
    color: var(--textColor);
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 5px 0px 0 10px;
    text-align: center;
    justify-self: flex-start;
  }
  .carDetails__description--carCategory {
    color: var(--iconsColor);
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 0 0 10px;
    justify-self: flex-start;
  }
  .carDetails__description--carID {
    color: var(--iconsColor);
    font-size: 1.2rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;
    margin: 5px 10px 0 0;
  }
  .mainTopic--form {
    max-width: 295px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 15px 0;
    order: r;
  }
  .pickUp__form {
    order: 3;
  }
  .dropOff__form {
    order: 4;
  }
  .rentalInfo--label {
    font-size: 1.4rem;
    font-weight: 700;
    align-self: flex-start;
    margin: 20px auto 10px 10px;
  }

  .rentalInfo--input {
    width: 295px;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundColor);
    margin: 10px 0 5px 0;
    font-size: 1.4rem;
  }

  .pickUp__title,
  .dropOff__title {
    align-self: flex-start;
    margin-right: auto;
    font-size: 1.6rem;
  }
  .bulletline--icon {
    color: var(--secondaryColor);
    margin: 0 5px 0px 0;
    width: 16px;
    height: 16px;
  }
  .priceDetails {
    width: 100%;
    max-width: 295px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 10px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 5;
  }
  .priceDetails__title {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 16px 0 0 0;
  }
  .priceDetails__title--price {
    font-size: 2rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px 0px 0 0;
    justify-self: flex-end;
    align-self: center;
  }
  .priceDetails__title--secondary {
    color: var(--textSecondaryColor);
    font-size: 1.2rem;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 16px 0 0 0;
  }
  .rentalSummary {
    background-color: var(--primaryColor);
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 10px 0px;
  }
  .rentalSummary__textBox {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 0px 0;
  }
  .summary__title {
    font-size: 1.6rem;
    align-self: flex-start;
    margin: 0 auto 0 24px;
  }
  .rentalSummary__link {
    color: var(--textColor);
    align-self: flex-end;
    margin: 0 30px 0 auto;
    width: 35px;
    height: 35px;
  }
  .summary__image {
    width: 100%;
    max-width: 220px;
    margin: 30px 0 20px 0;
  }
  .carCategory {
    width: 100%;
    max-width: 295px;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(5, 64px);
    margin: 10px 0 0 0;
  }
  .carCategory__title {
    width: 100%;
    max-width: 295px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0 0 10px;
    color: var(--textSecondaryColor);
  }
  .summary--number {
    font-size: 1.4rem;
    margin: 0px 20px 0 0;
    justify-self: self-end;
  }
  .carCategory__bullet {
    margin: 0 5px 0 5px;
    width: 25px;
  }
  .carCategory__title--sport {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .number--sport {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bullet--sport {
    color: var(--darkBlue);
  }
  .carCategory__title--suv {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .number--suv {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .bullet--suv {
    color: #175d9c;
  }
  .carCategory__title--coupe {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .bullet--coupe {
    color: #2084de;
  }
  .number--coupe {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .carCategory__title--hatchback {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .number--hatchback {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .bullet--hatchback {
    color: #60a9e9;
  }

  .carCategory__title--mpv {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bullet--mpv {
    color: #a7ccf5;
  }

  .number--mpv {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .recentTransactions {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    margin: 10px 0 20px 0px;
  }
  .recentTransactions__textBox {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 30px 0;
  }
  .recentTransactions__title {
    font-size: 1.6rem;
    color: var(--textColor);
    align-self: flex-start;
    margin: 0 auto 0 10px;
  }
  .recentTransactions__link {
    font-size: 1.5rem;
    color: var(--secondaryColor);
    align-self: flex-end;
    margin: 0 20px 0 auto;
    text-decoration: none;
  }
  .recentTransactions__link:active,
  .recentTransactions__link:hover {
    text-shadow: 0 1px 8px var(--darkBlue);
    transition: all 0.2s ease-in;
  }

  .recentTransactions__carDetails {
    display: grid;
    grid-template-columns: 100px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 345px;
    border-bottom: 1px solid var(--iconsSecondaryColor);
  }
  .recentTransactions__carDetails__image {
    width: 76px;
    height: 44px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0 0 0 10px;
  }
  .recentTransactions__carDetails__title--carName {
    color: var(--textColor);
    font-size: 1.4rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recentTransactions__carDetails__date {
    color: var(--textSecondaryColor);
    font-size: 1.2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: self-end;
    margin: 0 10px 0 0;
  }
  .recentTransactions__carDetails--carCategory {
    color: var(--textSecondaryColor);
    font-weight: 400;
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .recentTransactions__carDetails__price {
    color: var(--textColor);
    font-weight: bold;
    font-size: 1.6rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 376px) and (max-width: 480px) {
  .mainTopic {
    color: var(--textColor);
    width: 100%;
    max-width: 480px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .container {
    color: var(--textColor);
    max-width: 480px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .map--desktop {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  .menu {
    width: 100%;
    max-width: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    background-color: var(--primaryColor);
  }
  .buttonBox {
    display: none;
  }
  .menu__image--profileTablet {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 32px 40px 0 0;
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: flex-end;
  }
  .menu__title {
    color: var(--secondaryColor);
    font-size: 2.4rem;
    margin: 20px 0 20px 25px;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .menu__input {
    font-size: 1.4rem;
    width: 263px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid var(--iconsSecondaryColor);
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 15px 0 35px 25px;
    background-color: var(--inputBcgColor);
  }
  .menu__icon,
  .setting__icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid var(--iconsSecondaryColor);
    color: var(--iconsColor);
  }
  .menu__icons--menu {
    grid-row: 1/2;
    grid-column: 1/2;
    border: none;
    margin: 32px 0px 0 25px;
  }
  .menu__icons--setting {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 48px;
    height: 48px;
    margin: 15px 0 35px 35px;
  }
  .menu__input:focus,
  .rentalInfo--input:focus {
    outline: 0;
    border: 1px solid var(--textSecondaryColor);
    box-shadow: 1px var(--textSecondaryColor);
    transition: all 0.5s;
    padding: 0 0 0 10px;
  }
  .menu__input::placeholder,
  .rentalInfo--input::placeholder {
    outline: 0;
    transition: all 0.1s;
    padding: 0 0 0 10px;
  }
  .detailRental {
    width: 100%;
    max-width: 355px;
    background-color: var(--primaryColor);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
    border-radius: 10px;
  }
  .detailRental__image--map {
    width: 100%;
    max-width: 310px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
  }
  .detailRental__title--section {
    color: var(--textColor);
    font-size: 1.6rem;
    margin: 15px auto 10px 16px;
    align-self: flex-start;
  }
  .carDetails {
    width: 100%;
    max-width: 310px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    order: 3;
  }
  .carDetails__image--car {
    max-width: 116px;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 5px 0 0 0px;
    border-radius: 10px;
  }
  .carDetails__title--carName {
    color: var(--textColor);
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 5px 0px 0 10px;
    text-align: center;
    justify-self: flex-start;
  }
  .carDetails__description--carCategory {
    color: var(--iconsColor);
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 0 0 10px;
    justify-self: flex-start;
  }
  .carDetails__description--carID {
    color: var(--iconsColor);
    font-size: 1.2rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;
    margin: 5px 10px 0 0;
  }
  .mainTopic--form {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 15px 0;
    order: r;
  }
  .pickUp__form {
    order: 3;
  }
  .dropOff__form {
    order: 4;
  }
  .rentalInfo--label {
    font-size: 1.4rem;
    font-weight: 700;
    align-self: flex-start;
    margin: 20px auto 10px 10px;
  }

  .rentalInfo--input {
    width: 295px;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundColor);
    margin: 10px 0 5px 0;
    font-size: 1.4rem;
  }

  .pickUp__title,
  .dropOff__title {
    align-self: flex-start;
    margin-right: auto;
    font-size: 1.6rem;
  }
  .bulletline--icon {
    color: var(--secondaryColor);
    margin: 0 5px 0px 0;
    width: 16px;
    height: 16px;
  }
  .priceDetails {
    width: 100%;
    max-width: 295px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 10px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 5;
  }
  .priceDetails__title {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 16px 0 0 0;
  }
  .priceDetails__title--price {
    font-size: 2rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px 0px 0 0;
    justify-self: flex-end;
    align-self: center;
  }
  .priceDetails__title--secondary {
    color: var(--textSecondaryColor);
    font-size: 1.2rem;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 16px 0 0 0;
  }
  .rentalSummary {
    background-color: var(--primaryColor);
    width: 100%;
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 10px 0px;
  }
  .rentalSummary__textBox {
    width: 100%;
    max-width: 355px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 0px 0;
  }
  .summary__title {
    font-size: 1.6rem;
    align-self: flex-start;
    margin: 0 auto 0 24px;
  }
  .rentalSummary__link {
    color: var(--textColor);
    align-self: flex-end;
    margin: 0 30px 0 auto;
    width: 35px;
    height: 35px;
  }
  .summary__image {
    width: 100%;
    max-width: 220px;
    margin: 30px 0 20px 0;
  }
  .carCategory {
    width: 100%;
    max-width: 325px;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(5, 64px);
    margin: 10px 0 0 0;
  }
  .carCategory__title {
    width: 100%;
    max-width: 325px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0 0 10px;
    color: var(--textSecondaryColor);
  }
  .summary--number {
    font-size: 1.4rem;
    margin: 0px 20px 0 0;
    justify-self: self-end;
  }
  .carCategory__bullet {
    margin: 0 5px 0 5px;
    width: 25px;
  }
  .carCategory__title--sport {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .number--sport {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bullet--sport {
    color: var(--darkBlue);
  }
  .carCategory__title--suv {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .number--suv {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .bullet--suv {
    color: #175d9c;
  }
  .carCategory__title--coupe {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .bullet--coupe {
    color: #2084de;
  }
  .number--coupe {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .carCategory__title--hatchback {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .number--hatchback {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .bullet--hatchback {
    color: #60a9e9;
  }

  .carCategory__title--mpv {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bullet--mpv {
    color: #a7ccf5;
  }

  .number--mpv {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .recentTransactions {
    width: 100%;
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    margin: 10px 0 20px 0px;
  }
  .recentTransactions__textBox {
    width: 100%;
    max-width: 355px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 30px 0;
  }
  .recentTransactions__title {
    font-size: 1.6rem;
    color: var(--textColor);
    align-self: flex-start;
    margin: 0 auto 0 10px;
  }
  .recentTransactions__link {
    font-size: 1.5rem;
    color: var(--secondaryColor);
    align-self: flex-end;
    margin: 0 20px 0 auto;
    text-decoration: none;
  }
  .recentTransactions__link:active,
  .recentTransactions__link:hover {
    text-shadow: 0 1px 8px var(--darkBlue);
    transition: all 0.2s ease-in;
  }

  .recentTransactions__carDetails {
    display: grid;
    grid-template-columns: 100px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 345px;
    border-bottom: 1px solid var(--iconsSecondaryColor);
  }
  .recentTransactions__carDetails__image {
    width: 76px;
    height: 44px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0 0 0 10px;
  }
  .recentTransactions__carDetails__title--carName {
    color: var(--textColor);
    font-size: 1.4rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recentTransactions__carDetails__date {
    color: var(--textSecondaryColor);
    font-size: 1.2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: self-end;
    margin: 0 10px 0 0;
  }
  .recentTransactions__carDetails--carCategory {
    color: var(--textSecondaryColor);
    font-weight: 400;
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .recentTransactions__carDetails__price {
    color: var(--textColor);
    font-weight: bold;
    font-size: 1.6rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 720px) {
  .mainTopic {
    color: var(--textColor);
    width: 100%;
    max-width: 720px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .container {
    color: var(--textColor);
    max-width: 720px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .map--desktop {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  .menu {
    width: 100%;
    max-width: 719.99px;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
  }
  .buttonBox {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    border: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    color: var(--iconsColor);
    margin: 30px;
    display: none;
  }
  .button--setting {
    order: 5;
  }
  .button--heart {
    order: 3;
  }
  .button--notif {
    order: 4;
  }
  .bi-heart-fill {
    margin: 3px 0 0 0;
  }
  .menu__image--profileTablet {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    order: 3;
    margin: 0 40px 0;
  }
  .menu__title {
    color: var(--secondaryColor);
    font-size: 2.4rem;
    text-align: center;
    margin: 0 auto 0 40px;
    order: 1;
  }
  .menu__input {
    font-size: 1.8rem;
    width: 270px;
    height: 48px;
    border-radius: 70px;
    border: 0.5px solid var(--iconsSecondaryColor);
    grid-row: 3/4;
    grid-column: 1/4;
    margin: 0 0 0 auto;
    order: 2;
    background-color: var(--inputBcgColor);
  }
  .menu__input:focus,
  .pickUp__input:focus,
  .dropOff__input:focus {
    outline: 0;
    border: 1px solid var(--textSecondaryColor);
    box-shadow: 1px var(--textSecondaryColor);
    transition: all 0.5s;
  }
  .detailRental {
    width: 100%;
    max-width: 650px;
    background-color: var(--primaryColor);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
    border-radius: 10px;
  }
  .detailRental__image--map {
    width: 100%;
    max-width: 610px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
  }
  .detailRental__title--section {
    color: var(--textColor);
    font-size: 2.8rem;
    margin: 15px 0 10px 0;
  }
  .carDetails {
    width: 100%;
    max-width: 640px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    order: 3;
  }
  .carDetails__image--car {
    max-width: 176px;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 5px 0 0 10px;
    border-radius: 10px;
  }
  .carDetails__title--carName {
    color: var(--textColor);
    font-size: 3rem;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 5px 15px 0 0;
    text-align: center;
    justify-self: flex-start;
  }
  .carDetails__description--carCategory {
    color: var(--iconsColor);
    font-size: 2.1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 0 0 0;
    justify-self: flex-start;
  }
  .carDetails__description--carID {
    color: var(--iconsColor);
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;

    margin: 5px 50px 0 0;
  }
  .mainTopic--form {
    max-width: 610px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0 15px 0;
    order: r;
  }
  .pickUp__form {
    order: 3;
  }
  .dropOff__form {
    order: 4;
  }
  .pickUp__location,
  .dropOff__location {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .pickUp__time,
  .dropOff__time {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .pickUp__date,
  .dropOff__date {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .rentalInfo--label {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .rentalInfo--input {
    width: 186px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundColor);
    margin: 10px 0 5px 0;
    font-size: 2.4rem;
  }

  .location__label {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .time__label {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .date__label {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .pickUp__title,
  .dropOff__title {
    align-self: flex-start;
    margin-right: auto;
    font-size: 2.6rem;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .bulletline--icon {
    color: var(--secondaryColor);
    margin: 0 10px 0px 0;
    width: 22px;
    height: 22px;
  }
  .priceDetails {
    width: 100%;
    max-width: 610px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 10px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 5;
  }

  .priceDetails {
    width: 100%;
    max-width: 610px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 0px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 6;
  }
  .priceDetails__title {
    font-size: 2.8rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px 0 0 0;
    padding: 10px;
  }
  .priceDetails__title--price {
    font-size: 3.2rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px 0px 0 0;
    justify-self: flex-end;
    align-self: center;
  }
  .priceDetails__title--secondary {
    color: var(--textSecondaryColor);
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
  }
  .rentalSummary {
    background-color: var(--primaryColor);
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 10px 0px;
  }
  .rentalSummary__textBox {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 0px 0;
  }
  .summary__title {
    font-size: 3rem;
    align-self: flex-start;
    margin: 0 auto 0 24px;
  }
  .rentalSummary__link {
    width: 40px;
    height: 40px;
    color: var(--textColor);
    align-self: flex-end;
    margin: 0 30px 0 auto;
    width: 50px;
    height: 50px;
  }
  .summary__image {
    width: 100%;
    max-width: 480px;
    margin: 30px 0 20px 0;
  }
  .carCategory {
    width: 100%;
    max-width: 640px;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(5, 64px);
    margin: 10px 0 0 0;
  }
  .carCategory__title {
    width: 100%;
    max-width: 325px;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 0 10px;
    color: var(--textSecondaryColor);
  }
  .summary--number {
    font-size: 2.5rem;
    margin: 0px 20px 0 0;
    justify-self: self-end;
  }
  .carCategory__bullet {
    margin: 0 5px 0 5px;
    width: 30px;
  }
  .carCategory__title--sport {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .number--sport {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bullet--sport {
    color: var(--darkBlue);
  }
  .carCategory__title--suv {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .number--suv {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .bullet--suv {
    color: #175d9c;
  }
  .carCategory__title--coupe {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .bullet--coupe {
    color: #2084de;
  }
  .number--coupe {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .carCategory__title--hatchback {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .number--hatchback {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .bullet--hatchback {
    color: #60a9e9;
  }

  .carCategory__title--mpv {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bullet--mpv {
    color: #a7ccf5;
  }

  .number--mpv {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .recentTransactions {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    margin: 10px 0 20px 0px;
  }
  .recentTransactions__textBox {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 30px 0;
  }
  .recentTransactions__title {
    font-size: 3rem;
    color: var(--textColor);
    align-self: flex-start;
    margin: 0 auto 0 10px;
  }
  .recentTransactions__link {
    font-size: 2.5rem;
    color: var(--secondaryColor);
    align-self: flex-end;
    margin: 0 20px 0 auto;
    text-decoration: none;
  }
  .recentTransactions__link:active,
  .recentTransactions__link:hover {
    text-shadow: 0 1px 8px var(--darkBlue);
    transition: all 0.2s ease-in;
  }

  .recentTransactions__carDetails {
    display: grid;
    grid-template-columns: 170px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 640px;
    border-bottom: 1px solid var(--iconsSecondaryColor);
  }
  .recentTransactions__carDetails__image {
    width: 156px;
    height: 94px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .recentTransactions__carDetails__title--carName {
    color: var(--textColor);
    font-size: 2.6rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recentTransactions__carDetails__date {
    color: var(--textSecondaryColor);
    font-size: 2.2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: self-end;
  }
  .recentTransactions__carDetails--carCategory {
    color: var(--textSecondaryColor);
    font-weight: 400;
    font-size: 2.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .recentTransactions__carDetails__price {
    color: var(--textColor);
    font-weight: bold;
    font-size: 2.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .mainTopic {
    color: var(--textColor);
    width: 100%;
    max-width: 1024px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .container {
    color: var(--textColor);
    max-width: 1024px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
  }
  .map--desktop {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  .menu {
    width: 100%;
    max-width: 1023.99px;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
  }
  .buttonBox {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    border: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    color: var(--iconsColor);
    margin: 30px;
    display: none;
  }
  .button--setting {
    order: 5;
  }
  .button--heart {
    order: 3;
  }
  .button--notif {
    order: 4;
  }
  .bi-heart-fill {
    margin: 3px 0 0 0;
  }
  .menu__image--profileTablet {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    order: 3;
    margin: 0 40px 0;
  }
  .menu__title {
    color: var(--secondaryColor);
    font-size: 2.4rem;
    text-align: center;
    margin: 0 auto 0 40px;
    order: 1;
  }
  .menu__input {
    font-size: 1.8rem;
    width: 300px;
    height: 48px;
    border-radius: 70px;
    border: 0.5px solid var(--iconsSecondaryColor);
    grid-row: 3/4;
    grid-column: 1/4;
    margin: 0 0 0 auto;
    order: 2;
    background-color: var(--inputBcgColor);
  }
  .menu__input:focus,
  .pickUp__input:focus,
  .dropOff__input:focus {
    outline: 0;
    border: 1px solid var(--textSecondaryColor);
    box-shadow: 1px var(--textSecondaryColor);
    transition: all 0.5s;
  }
  .detailRental {
    width: 100%;
    max-width: 770px;
    background-color: var(--primaryColor);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
    border-radius: 10px;
  }
  .detailRental__image--map {
    width: 100%;
    max-width: 720px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
  }
  .detailRental__title--section {
    color: var(--textColor);
    font-size: 2.8rem;
    margin: 15px 0 10px 0;
  }
  .carDetails {
    width: 100%;
    max-width: 770px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    order: 3;
  }
  .carDetails__image--car {
    max-width: 226px;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 5px 0 0 10px;
    border-radius: 10px;
  }
  .carDetails__title--carName {
    color: var(--textColor);
    font-size: 3rem;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 5px 15px 0 0;
    text-align: center;
    justify-self: flex-start;
  }
  .carDetails__description--carCategory {
    color: var(--iconsColor);
    font-size: 2.1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 0 0 0;
    justify-self: flex-start;
  }
  .carDetails__description--carID {
    color: var(--iconsColor);
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;

    margin: 5px 50px 0 0;
  }
  .mainTopic--form {
    max-width: 730px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0 15px 0;
    order: r;
  }
  .pickUp__form {
    order: 3;
  }
  .dropOff__form {
    order: 4;
  }
  .pickUp__location,
  .dropOff__location {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .pickUp__time,
  .dropOff__time {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .pickUp__date,
  .dropOff__date {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .rentalInfo--label {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .rentalInfo--input {
    width: 196px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundColor);
    margin: 10px 0 5px 0;
    font-size: 2.4rem;
  }

  .location__label {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .time__label {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .date__label {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .pickUp__title,
  .dropOff__title {
    align-self: flex-start;
    margin-right: auto;
    font-size: 2.6rem;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .bulletline--icon {
    color: var(--secondaryColor);
    margin: 0 10px 0px 0;
    width: 22px;
    height: 22px;
  }
  .priceDetails {
    width: 100%;
    max-width: 720px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 10px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 5;
  }

  .priceDetails {
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 0px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 6;
  }
  .priceDetails__title {
    font-size: 2.8rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px 0 0 0;
    padding: 10px;
  }
  .priceDetails__title--price {
    font-size: 3.2rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px 0px 0 0;
    justify-self: flex-end;
    align-self: center;
  }
  .priceDetails__title--secondary {
    color: var(--textSecondaryColor);
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
  }
  /* 
  .rentalSummary {
    width: 100%;
    max-width: 770px;
    height: auto;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: var(--borderRadius);
    margin: 20px 0 10px 0;
  } */
  .rentalSummary {
    background-color: var(--primaryColor);
    width: 100%;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 10px 0px;
  }
  .rentalSummary__textBox {
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 0px 0;
  }
  .summary__title {
    font-size: 3rem;
    align-self: flex-start;
    margin: 0 auto 0 24px;
  }
  .rentalSummary__link {
    width: 40px;
    height: 40px;
    color: var(--textColor);
    align-self: flex-end;
    margin: 0 30px 0 auto;
    width: 50px;
    height: 50px;
  }
  .summary__image {
    width: 100%;
    max-width: 550px;
    margin: 30px 0 20px 0;
  }
  .carCategory {
    width: 100%;
    max-width: 760px;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(5, 64px);
    margin: 10px 0 0 0;
  }
  .carCategory__title {
    width: 100%;
    max-width: 325px;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 0 20px;
    color: var(--textSecondaryColor);
  }
  .summary--number {
    font-size: 2.5rem;
    margin: 0px 20px 0 0;
    justify-self: self-end;
  }
  .carCategory__bullet {
    margin: 0 5px 0 5px;
    width: 30px;
  }
  .carCategory__title--sport {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .number--sport {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bullet--sport {
    color: var(--darkBlue);
  }
  .carCategory__title--suv {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .number--suv {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .bullet--suv {
    color: #175d9c;
  }
  .carCategory__title--coupe {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .bullet--coupe {
    color: #2084de;
  }
  .number--coupe {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .carCategory__title--hatchback {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .number--hatchback {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .bullet--hatchback {
    color: #60a9e9;
  }

  .carCategory__title--mpv {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bullet--mpv {
    color: #a7ccf5;
  }

  .number--mpv {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .recentTransactions {
    width: 100%;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    margin: 10px 0 20px 0px;
  }
  .recentTransactions__textBox {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 30px 0;
  }
  .recentTransactions__title {
    font-size: 3rem;
    color: var(--textColor);
    align-self: flex-start;
    margin-right: auto;
  }
  .recentTransactions__link {
    font-size: 2.5rem;
    color: var(--secondaryColor);
    align-self: flex-end;
    margin-left: 0 20px 0 auto;
    text-decoration: none;
  }
  .recentTransactions__link:active,
  .recentTransactions__link:hover {
    text-shadow: 0 1px 8px var(--darkBlue);
    transition: all 0.2s ease-in;
  }

  .recentTransactions__carDetails {
    display: grid;
    grid-template-columns: 170px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 750px;
    border-bottom: 1px solid var(--iconsSecondaryColor);
  }
  .recentTransactions__carDetails__image {
    width: 156px;
    height: 94px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .recentTransactions__carDetails__title--carName {
    color: var(--textColor);
    font-size: 2.6rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recentTransactions__carDetails__date {
    color: var(--textSecondaryColor);
    font-size: 2.2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: self-end;
  }
  .recentTransactions__carDetails--carCategory {
    color: var(--textSecondaryColor);
    font-weight: 400;
    font-size: 2.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .recentTransactions__carDetails__price {
    color: var(--textColor);
    font-weight: bold;
    font-size: 2.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 5396px;
    overflow-x: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainTopic {
    width: 100%;
    max-width: 1440px;
    /* height: 1024px; */
    overflow-x: hidden;
    background-color: var(--backgroundColor);
    display: grid;
    grid-template-rows: 124px 350px 1fr;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas:
      "menu menu menu"
      "sidemenu detail summary"
      "sidemenu detail recent";
  }

  .menu {
    width: 100%;
    max-width: 1440px;
    height: 124px;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: menu;
  }
  .buttonBox {
    width: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 3;
    margin: 0 15px 0 auto;
  }
  .menu--button {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    border: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    color: var(--iconsColor);
    cursor: pointer;
    margin: 7px;
  }
  .menu--button:focus,
  .menu--button:hover,
  .menu--button:active {
    box-shadow: 1px 1px 8px var(--secondaryColor);
  }
  .bi-heart-fill {
    margin: 3px 0 0 0;
  }
  .menu__icons {
    display: none;
  }

  .menu__image--profile {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 20px;
  }
  .menu__image--profileTablet {
    display: none;
  }
  .menu__title {
    color: var(--secondaryColor);
    font-size: 2.4rem;
    order: 1;
    margin: 0 auto 0 60px;
  }
  .menu__input {
    font-size: 1.8rem;
    width: 100%;
    max-width: 492px;
    height: 44px;
    border-radius: 70px;
    border: 0.5px solid var(--iconsSecondaryColor);
    order: 2;
    background-color: var(--inputBcgColor);
    margin: 0 0px 0 -272px;
  }
  .menu__input:focus,
  .pickUp__input:focus,
  .dropOff__input:focus {
    outline: 0;
    border: 1px solid var(--textSecondaryColor);
    box-shadow: 1px var(--textSecondaryColor);
    transition: all 0.5s;
    padding: 0 0 0 10px;
  }
  .menu__input::placeholder {
    outline: 0;
    transition: all 0.5s;
    padding: 0 0 0 10px;
  }
  .darkMode--label {
    position: relative;
    width: 68px;
    height: 34px;
    display: block;
    background: #d9d9d9;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
      inset 0px -5px 15px rgba(255, 255, 255, 0.3);
  }
  .darkMode--label:after {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    background: #f2f2f2;
    border-radius: 100px;
    top: 3px;
    left: 5px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .darkMode--button:checked ~ .darkMode--label:after {
    left: 58px;
    transform: translateX(-100%);
    background: linear-gradient(
      180deg,
      var(--backgroundColor),
      var(--darkBlue)
    );
  }
  .darkMode--button:checked ~ .darkMode--label {
    background: var(--secondaryColor);
  }
  .darkMode--background {
    /* width: 100%; */
    background: #fff;
    z-index: -1;
    transition: 0.5s;
  }
  .darkMode--button:checked + .darkMode--label + .darkMode--background {
    background: #242424;
  }
  .darkMode--button {
    display: none;
  }
  .sideMenu {
    color: var(--textSecondaryColor);
    background-color: var(--primaryColor);
    max-width: 286px;
    width: 100%;
    height: 900px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    grid-area: sidemenu;
    margin: 0 10px 0 0;
  }
  .mainMenu {
    display: flex;
    flex-direction: column;
    width: 286px;
    order: 1;
  }
  .perference {
    display: flex;
    flex-direction: column;
    width: 286px;
    order: 2;
  }
  .sideMenu--title {
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px 0 0 30px;
  }
  .sideMenu--item {
    color: var(--textSecondaryColor);
    width: 254px;
    height: 56px;
    font-size: 2.6rem;
    padding: 10px 0 10px 20px;
    margin: 10px 0 0 15px;
    list-style: none;
  }
  .sideMenu__logout {
    width: 254px;
    height: 56px;
    margin: 20px 0 0 15px;
    order: 3;
    font-size: 1.8rem;
  }
  .darkMode__button {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    padding: 10px;
    margin: 10px 0 0 50px;
  }
  .darkMode__title {
    margin: 10px 0 20px 0;
  }
  .sideMenu--link {
    text-decoration: none;
    color: var(--textSecondaryColor);
    width: 254px;
    height: 56px;
    font-size: 1.8rem;
    padding: 10px 0 10px 20px;
    margin: 10px 0 0 15px;
    list-style: none;
  }
  .sideMenu--link:hover {
    color: var(--primaryColor);
  }
  .perference__item:hover,
  .perference__item:active,
  .perference__item:focus,
  .sideMenu--item:hover,
  .sideMenu__item:active,
  .sideMenu__item:focus {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 10px;
    transition: 0.2s ease-in all;
  }
  .sideMenu--icons {
    margin: -1px 15px 0 0;
  }
  .detailRental {
    border-radius: 10px;
    width: 100%;
    max-width: 534px;
    /* height: 836px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    grid-area: detail;
    margin: 20px 20px 10px 0;
    justify-self: center;
  }

  .detailRental__title--section {
    font-size: 2rem;
    order: 1;
    align-self: flex-start;
    margin: 0px auto 0 24px;
  }
  .map--phone {
    display: none;
  }
  .map--desktop {
    max-width: 486px;
    width: 100%;
    order: 2;
    margin: 20px 0 0 0;
    border-radius: 10px;
  }

  .carDetails {
    width: 100%;
    max-width: 486px;
    display: grid;
    grid-template-columns: 150px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 0 0;
    order: 3;
  }
  .carDetails__image--car {
    max-width: 132px;
    height: 72px;
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 5px 0 0 10px;
    border-radius: 10px;
  }
  .carDetails__title--carName {
    color: var(--textColor);
    font-size: 2.4rem;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 5px 15px 0 0;
  }
  .carDetails__description--carCategory {
    color: var(--iconsColor);
    font-size: 1.4rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 0 0 0px;
  }
  .carDetails__description--carID {
    color: var(--iconsColor);
    font-size: 1.4rem;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 15px 0 0 20px;
    justify-self: flex-end;
  }
  .mainTopic--form {
    max-width: 486px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0 15px 0;
  }
  .pickUp__form {
    order: 3;
  }
  .dropOff__form {
    order: 4;
  }
  .pickUp__location,
  .dropOff__location {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .pickUp__time,
  .dropOff__time {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .pickUp__date,
  .dropOff__date {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .rentalInfo--label {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .location__label {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .time__label {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .date__label {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .pickUp__title,
  .dropOff__title {
    align-self: flex-start;
    margin-right: auto;
    font-size: 1.6rem;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .bulletline--icon {
    color: var(--secondaryColor);
    margin: 0 3px -1px 0;
  }
  .rentalInfo--input {
    width: 126px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--backgroundColor);
    margin: 10px 0 5px 0;
    font-size: 1.4rem;
  }

  .priceDetails {
    width: 100%;
    max-width: 486px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 0px 0;
    border-top: 1px solid var(--iconsSecondaryColor);
    background-color: var(--primaryColor);
    order: 6;
  }
  .priceDetails__title {
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px 0 0 0;
    padding: 10px;
  }
  .priceDetails__title--price {
    font-size: 3.2rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px 0px 0 0;
    justify-self: flex-end;
    align-self: center;
  }
  .priceDetails__title--secondary {
    color: var(--textSecondaryColor);
    font-size: 1.4rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
  }
  .rentalSummary {
    background-color: var(--primaryColor);
    width: 100%;
    max-width: 524px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    border-radius: 10px;
    grid-area: summary;
    margin: 20px 20px 10px 0px;
  }
  .rentalSummary__textBox {
    width: 100%;
    max-width: 476px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 0px 0;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .summary__title {
    font-size: 2rem;
    align-self: flex-start;
    margin: 0 auto 0 24px;
  }
  .rentalSummary__link {
    font-size: 1rem;
    color: var(--textColor);
    align-self: flex-end;
    margin-left: auto;
  }
  .summary__icons {
    width: 34px;
    height: 34px;
  }
  .summary__image {
    width: 100%;
    max-width: 220px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 30px 0 0 24px;
  }
  .carCategory {
    width: 100%;
    max-width: 232px;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(5, 44px);
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 25px 0 0 0;
  }
  .carCategory__title {
    width: 100%;
    max-width: 125px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--textSecondaryColor);
  }

  .carCategory__bullet {
    margin: 5px 5px -3px 5px;
    width: 20px;
  }
  .carCategory__title--sport {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .number--sport {
    font-size: 1.4rem;
    margin: 10px 5px 5px 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-end;
  }
  .bullet--sport {
    color: var(--darkBlue);
  }
  .carCategory__title--suv {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .number--suv {
    font-size: 1.4rem;
    margin: 10px 5px 5px 5px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: self-end;
  }
  .bullet--suv {
    color: #175d9c;
  }
  .carCategory__title--coupe {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .bullet--coupe {
    color: #2084de;
  }
  .number--coupe {
    font-size: 1.4rem;
    margin: 10px 5px 5px 5px;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: self-end;
  }

  .carCategory__title--hatchback {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .number--hatchback {
    font-size: 1.4rem;
    margin: 10px 5px 5px 5px;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: self-end;
  }
  .bullet--hatchback {
    color: #60a9e9;
  }

  .carCategory__title--mpv {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bullet--mpv {
    color: #a7ccf5;
  }

  .number--mpv {
    font-size: 1.4rem;
    margin: 10px 5px 5px 5px;
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: self-end;
  }

  .recentTransactions {
    width: 100%;
    max-width: 524px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    grid-area: recent;
    margin: 10px 20px 10px 0px;
  }
  .recentTransactions__textBox {
    width: 100%;
    max-width: 476px;
    display: flex;
    flex-direction: row;
    margin: 24px 0 30px 0;
  }
  .recentTransactions__title {
    font-size: 2rem;
    color: var(--textColor);
    align-self: flex-start;
    margin-right: auto;
  }
  .recentTransactions__link {
    font-size: 1.5rem;
    color: var(--secondaryColor);
    align-self: flex-end;
    margin-left: auto;
    text-decoration: none;
  }
  .recentTransactions__link:active,
  .recentTransactions__link:hover {
    text-shadow: 0 1px 8px var(--darkBlue);
    transition: all 0.3s ease-in;
  }

  .recentTransactions__carDetails {
    display: grid;
    grid-template-columns: 150px 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 476px;
    border-bottom: 1px solid var(--iconsSecondaryColor);
  }
  .recentTransactions__carDetails__image {
    width: 96px;
    height: 64px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .recentTransactions__carDetails__title--carName {
    color: var(--textColor);
    font-size: 1.6rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recentTransactions__carDetails__date {
    color: var(--textSecondaryColor);
    font-size: 1.2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: self-end;
  }
  .recentTransactions__carDetails--carCategory {
    color: var(--textSecondaryColor);
    font-weight: 400;
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .recentTransactions__carDetails__price {
    color: var(--textColor);
    font-weight: bold;
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
  }
}
